body {
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 56px;
}

@media (min-width: 992px)
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }

.hero-image {
    background: url(../img/DIM-2021-cabeza.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    min-height: 500px;
}

